html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	margin: 0 auto;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul ,li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	outline: none;
	color: #000;
	display: inline-block;
}
a:hover {
	color: #000;
}
img {
	vertical-align: middle;
	width: 100%;
}
.row {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.row_btwn {
	display: flex;
	height: 100%;
	align-items: center;
}
.row_first {
	display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.clearfix {
	content: '';
	display: table;
	clear: both;
}
.col-1{
	width: 7.1875%;
}
.col-2{
	width: 15.625%;
}
.col-3{
	width: 24.0625%;
}
.col-4{
	width: 32.5%;
}
.col-5{
	width: 40.9375%;
}
.col-6{
	width: 49.375%;
}
.col-7{
	width: 57.8125%;
}
.col-8{
	width: 66.25%
}
.col-9{
	width: 74.6875%;
}
.col-10{
	width: 83.125%;
}
.col-11{
	width: 91.5625%;
}
.col-12{
	width: 100%;
}
div[class|=col] {
	margin-right: 1.25%;
}
div[class|=col]:last-chil {
	margin-right: 0;
}
.pfi_stit {
  font-weight: bold;
  text-transform: capitalize;
  padding-right: 10px;
  display: inline-block;
  font-size: 1.3vw;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid black;
  opacity: 1;
  background: transparent;
}
.swiper-pagination-bullet-active {
  background: #000;
  opacity: 1;
}
.swiper-button-next:after{
  content: 'next';
  font-size: 0;
}
.swiper-button-prev:after{
  content: 'prev';
  font-size: 0;
}
.swiper-button-next{
  right: 3%;
  left: auto;
}
.swiper-button-prev{
  left: 3%;
  right: auto;
}  